html {
    box-sizing: border-box;
    min-width: 385px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    padding: 5% 10%;
    margin: 1px;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 70%;
    border-bottom: 1px solid red;
    padding: 10px;
}

.header_ps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.header_name {
    font-size: 40px;
}

.header_description {
    font-size: 20px;
}

.header_img {
    min-height: 180px;
    min-width: 180px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    background-size: cover;
}

.header_imgplace {
    min-height: 180px;
    min-width: 180px;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(""); */
}

.data {
    display: flex;
    max-width: 70%;
}

.column_left {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(255, 0, 0);
}

.info {
    border-bottom: 1px solid rgb(255, 0, 0);
}

.personalinfo {
    display: flex;
    flex-direction: column;
}

.lists {
    list-style: none;
    padding: 5px;
}

li {
    word-wrap: break-word;
    /* word-break: break-all; */
}

.skills {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.skills_list {
    padding: 0px 15px;
}

.skills_span {
    font-size: 10px;
}

.Education {
    display: flex;
    flex-direction: column;
}

.column_right {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-left: 1px solid rgb(255, 0, 0);
}

.Profile {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(255, 0, 0);
    padding-bottom: 20px;
}

.Expirience {
    display: flex;
    flex-direction: column;
    /* border-left: 1px solid rgb(255, 0, 0); */
}

/* .Expirience_span {} */

p {
    margin: 1px;
}

div {
    margin: 0px;
    padding: 10px;
    word-wrap: break-word;
}

.title {
    font-weight: bold;
}

.section_title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

li {
    padding: 3px;
}

/* 730px */
@media(max-width: 1250px) {
    .data {
        flex-wrap: wrap;
    }

    .column_left {
        max-width: 100%;
    }

    .column_right {
        max-width: 100%;
    }

    .section_title {
        font-size: 20px;
    }
    .Education{
        border-bottom: 1px solid red;
    }
}

@media(max-width: 1000px) {
    .header {
        flex-wrap: wrap;
        text-align: center;
    }
}

@media(max-width: 400px) {
    body {
        padding: 0%;
    }

    .data {
        flex-wrap: wrap;
    }

    .column_left {
        max-width: 100%;
    }

    .column_right {
        max-width: 100%;
    }

    /* .section_title{
        font-size: 15px;
    }
    span{
        font-size: 10px;
    } */
}